@import 'mixin';
@import 'navigation luxbar/luxbar.scss';
@import 'include-media';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  @include font-green;
  scroll-behavior: smooth;
}
#hero{
  width: 100%;
  display: flex;
  &::after{
    content: "";
    opacity: 0.7;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;   
    background: url(../img/1-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 80vh;
  }
  .content{
      padding: 15% 5%;
      display: flex;
      flex-direction: column;
      color: #fff;
      h1{
          font-size: 40px;
          padding: 20px;
          border-bottom: 2px solid #fff;
          @include media('<=tablet') {
            font-size: 30px;
          }
             
      }
      span{
          padding: 20px;
          font-size: 22px;
          max-width: 80%;
          @include media('<=tablet') {
            font-size: 18px;
          }
      }
    }
}

#about{
    width: 100%;
    background-color: #22181C;
    display: flex;
    flex-direction: column;
    h2{
        padding: 5% 0 0 5%;
        letter-spacing: 1px;
    }
    span{
        width: 70%;
        line-height: 1.8;
        font-size: 18px;
        padding: 5% 0 10% 5%;
        @include media('<=tablet') {
        width: 100%;
        padding: 5%;
        }
        }
}   
.trips{
    display: flex;
    flex-direction: row;
    background:linear-gradient(#C5D86D, #adc057);
    color: #22181C;
    &:nth-child(2){
        flex-direction: row-reverse;
        @include media('<=tablet') {
            flex-direction: column;

        }
    }
    @include media('<=tablet') {
        flex-direction: column;
    }  
    .image {
      background-position: center center;
      background-size: cover;
      border-radius: 0;
      display: block;
      position: relative;
      width: 40%;
      @include media('<=desktop') {
        width: 65%;
      }
      @include media('<=tablet') {
          width: 100%;
        }
        &:before {
            background: rgba(36, 41, 67, 0.9);
            content: '';
            display: block;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
            img {
                max-height: 80vh;
        border-radius: 0;
        display: block;
        width: 100%;
       
      }   
    }

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em 3em 0.1em 3em;
        width: 70%;
        margin: 0 auto;
        max-width: 100%;
        h4{
            font-size: 26px;
            padding: 20px;
        }
        span{
            font-size: 16px;
            padding: 15px;
            line-height: 1.5;
        }
        button{
            @include btn;
            @include btn-green;
        }
      }
    }

footer{
    max-width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px rgba(212, 212, 255, 0.1);
    background-color: rgb(34, 24, 28);
    @include font-green;
    #contact{
        width: 50%;
        padding: 20px; 
        @include media('<=desktop') {
             width: 65%;
             margin: 0 auto;
             padding:0 50px;
            }
            @include media('<=tablet') {
                width: 100%;
            }
        form{
            padding: 2%;
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
        label{
            text-transform: uppercase;
            font-size: 18px;
            line-height: 3;
        }
        input{
           width: 220px;
            height: 50px;
            background: rgba(212, 212, 255, 0.1);
            font-size: 22px;
            color: #fff;
            border: none;
            border-radius: 0;
            display: flex;
            @include media('<=tablet') {
                width: auto;
              }
            &:focus{
                background: rgba(212, 212, 255, 0.2);
                outline: 1px solid #c7d395;
            }
        }
           .message{
                width:100%;
                #message{
                    width: 100%;
                    height: 40vh;
                }
            }
            .btn{
                display: flex;
                justify-self:center;
                margin: 0 auto;
                button{
                    @include btn;
                    @include btn-violet;
                }
            }
        }
    }
    address{
        width: 50%;
        max-width: 50%;
        right: 0;
        position: absolute;
        @include media('<=desktop') {
            width: 100%;
            max-width: 100%;
            position: relative;
            display: flex;
        }
        .contact-method{
            width: 100%;
            display: block;
            padding: 6%;
            position: relative;
       i{
           @include icons;
           position: absolute;
           left: 15px;
           top: 20px;
           @include media('<=desktop') {
           position: relative;
             }
       }
       .phone, .email, .address{
           display: flex;
           flex-direction: column;
           padding-left: 15%;
           font-style: normal;
        @include media('<=desktop') {
            display: block;
        }
            h4{
           margin-bottom: 3%;
           font-size: 28px;
       }
       span{
           font-size: 18px;
           letter-spacing: 0.5px;
           line-height: 1.5;
        @include media('<=desktop') {
            line-height: 2;
        }
        }
       }
    }
    > :before{
        border-top: solid 1px rgba(197, 216, 109, 0.3);
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 70%;
        @include media('<=desktop') {
            display: none;
             }
    }
    > :first-child{
        &:before{
            display: none;
        }
    }
}
.social{
    height: auto;
    width: 100%;
    border-top: solid 1px rgba(197, 216, 109, 0.3);
    text-align: center;
    i{
        @include font-green;
        @include icons;
    }
        p{
            font-size: 18px;
            i{
                transition: .5s;
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
    }
}

  

  